@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&family=DM+Serif+Text:ital@0;1&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Just+Me+Again+Down+Here&family=Righteous&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Just Me Again Down Here', serif;
  background: #efefef;
  color: white;
}

h1,
h2,
h3,
a {
  font-family: 'Just Me Again Down Here', serif;
}

.hover-flip {
  display: inline-block; /* Agar transformasi bekerja dengan baik */
}

.hover-flip:hover {
  transform: rotateY(180deg);
}
